$main-font-color: #030F29;
$header-font-color: #5B6876;
$secondary-font-color-light: #A9C2DB;
$dark-background-color: #030F29;
$background-color: #fff;
$secondary-btn-color: #0C1A38;
$accent-color: #01CB9D;
$primary-btn-color: #FF3B59;
$btn-font-color: #FFF;
$footer-background-color: #030F29;
$footer-background-color-light: #ECEFF4;
$footer-font-color: #B6C5D3;
$footer-font-color-light: #5B6876;



$active-nav-color: #949494;
$label-bg-color: #F50C0C;
$label-color: #fff;
$secondary-bg-color: #D7D7D7;
$slider-overlay-color: #222222;
$slider-heading-color: #B8B8B8;
$slider-date-color: #BCBCBC;
