@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@include font("Dosis", "Dosis-Regular", "400", "normal");
@include font("Dosis", "Dosis-Medium", "500", "normal");
@include font("Dosis", "Dosis-SemiBold", "600", "normal");
@include font("Dosis", "Dosis-Bold", "700", "normal");