.our-blog {
  padding: 35px 0 70px;
  &__subtitle {
    display: none;
    font-size: 1rem;
    text-align: center;
    color: #86a3c0;
    @media screen and (max-width: 560px) {
      display: block;
    }
  }
}

// <Tag links>

.tag-links {
  &__list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &__wrapper {
    margin: 57px 0 39px;
  }
  &__item {
    a {
      text-decoration: none;
      color: $tag-nav-link-color;
      transition: all 0.3s ease;
    }
    &._active, &:hover {
      a {
        color: $tag-nav-link-color-active;
      }
    }
  }
  &__item:not(:last-child) {
    margin-right: 50px;
  }
  &__select {
    display: none;
    @media screen and (max-width: 560px) {
      display: block;
    }
  }
}

// </Tag links>

.cards_our-blog {
  padding: 0 109px;
  .card {
    margin-top: 24px;
  }
  .card_2:not(:nth-child(2n)) {
    margin-right: 24px;
  }
  .card_2:not(:nth-child(2n)) {
    margin-right: 24px;
  }
}