.our-blog {
  padding: 35px 0 70px;
  &__subtitle {
    display: none;
    font-size: 1rem;
    text-align: center;
    color: #86a3c0;
    @media screen and (max-width: 560px) {
      display: block;
    }
  }
}

// <Tag links>

.tag-links {
  &__list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    @media screen and (max-width: 560px) {
      display: none;
    }
  }
  &__select {
      border-radius: 10px;
    .select__item {
      padding: 11px 14px 13px 16px;
    }
    .select__value:before {
      width: 6px;
      height: 3px;
      margin-top: 2px;
      background: url(../img/tag-links-arrow.svg) center no-repeat;
    }
    .select__options{
      border-radius: 10px;
      top: 57px;
    }
  }
  &__wrapper {
    margin: 57px 0 39px;
    @media screen and (max-width: 560px) {
      margin: 34px 0 17px;
    }
  }
  &__item {
    a {
      text-decoration: none;
      color: $tag-nav-link-color;
      transition: all 0.3s ease;
    }
    &._active, &:hover {
      a {
        color: $tag-nav-link-color-active;
      }
    }
  }
  &__item:not(:last-child) {
    margin-right: 50px;
  }
  &__select {
    display: none;
    @media screen and (max-width: 560px) {
      display: block;
    }
  }
}

// </Tag links>

.cards_our-blog {
  justify-content: center;
  .card {
    margin-top: 24px;
    max-width: 521px;
    @media screen and (max-width: 560px) {
      margin-top: 12px;
    }
  }
}