.blog-article-container {
  display: flex;
  flex-direction: column;
  max-width: 630px;
  padding: 0 20px 0;

  &_center {
    align-items: center;
  }
}

.blog-article {
  //margin-top: 0;

  &.main {
    margin-top: 0;

    //@media screen and (max-width: 560px){
    //  margin-top: 78px;
    //}
  }

  & > article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

.blog-article-header {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 170px 0 64px;
  width: 100%;
  background-color: #F7F8FB;

  @media screen and (max-width: 560px) {
    padding: 116px 0 39px;
  }

  &__arrow {
    position: absolute;
    content: '';
    top: calc(50% - 8px);
    left: 12%;

    @media screen and (max-width: 992px) {
      display: none;
    }
  }

  &__tag {
    color: $primary-btn-color;
    font-size: 1.25rem;
    font-weight: 500;
  }

  &__info {
    display: flex;
    margin-top: 1.25rem;
    font-size: 22px;
    color: #86a3c0;

    @media screen and (max-width: 560px) {
      margin-top: 0;
      font-size: 1rem;
    }
  }

  &__date {
    margin-right: 27px;
  }

  &__time-to-read {
    display: flex;
    align-items: center;
    &::before {
      content: "";
      width: 14px;
      height: 14px;
      margin-right: 8px;
      background: url("../img/post-time-icon.svg") center no-repeat;
    }
  }
}

.blog-article-post {
  padding: 64px 0 114px;

  @media screen and (max-width: 560px){
    padding: 55px 0 62px;
  }

  &__content {
    &_important {
      color: #f15f3c;
    }
  }
  &__img {
    margin: 10px 0 20px
  }
  &__share {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
    width: 100%;
    height: 84px;
    border-radius: 10px;
    background-color: #F7F8FB;
    text-decoration: none;
    color: #030F29;

    @media screen and (max-width: 560px){
      margin-top: 20px;
    }

    &-icon {
      margin-right: 20px;
      img {
        display: block;
      }
    }
    &-title {
      font-size: 18px;
      font-weight: 500;
    }
  }
}

.blog-article-recommended {
  padding: 82px 0 70px;
  width: 100%;
  background-color: #F7F8FB;

  @media screen and (max-width: 560px){
    padding: 43px 0 52px;
  }

  &__title {
    font-size: 2.25rem;
    font-weight: 500;
    margin-left: calc((100vw - 1284px) / 2 + 109px);
    margin-bottom: 30px;
    text-transform: uppercase;

    @media screen and (max-width: 1125px) {
      margin-left: 30px;
    }

    @media screen and (max-width: 780px) {
      margin-left: 16px;
    }

    @media screen and (max-width: 560px) {
      font-size: 1.5rem;
    }
  }
}
