.animated_fade-up {
  transform: translate(0px, 150px);
  opacity: 0;
  transition: all 1s ease 0s;
}

.animated_fade-up._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

// letters animation

._animated-letter{
  display: inline-block;
  transform: translate(0px, 10px);
  opacity: 0;
  transition: all 0.2s ease 0s;
}

._animated-letter._fade-up{
  transform: translate(0px, 0px);
  opacity: 1;
}