.animated_fade-up {
  transform: translate(0px, 150px);
  opacity: 0;
  transition: all 1s ease 0s;
}

.animated_fade-up._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

// letters animation

._animated-letter{
  display: inline-block;
  transform: translate(0px, 10px);
  opacity: 0;
  transition: all 0.2s ease 0s;
}

._animated-letter._fade-up{
  transform: translate(0px, 0px);
  opacity: 1;
}

//------------
//Custom animations
//-------------
.promo .container,
.promo__slogan,
.svg__lines,
.promo__description-wrapper,
.promo__advantages {
  opacity: 0;
  visibility: hidden;
}

.promo .container {
  transition: all 1s ease;
  @media screen and (min-width: 1473px) {
    transform: scale(1.1);
  }
  @media screen and (max-width: 1473px) {
    transform: translateY(-30px);
  }
}
.promo__slogan {
  transition: opacity 1s ease, visibility 1s ease;
}
.svg__lines {
  transition: opacity 1.2s ease 0.6s, visibility 1s ease 0.6s;
}
.promo__description-wrapper {
  transition: opacity 1.6s ease 0.9s, visibility 1s ease 0.9s;
}
.promo__advantages {
  transition: opacity 2s ease 1.2s, visibility 1s ease 1.2s;
}

._active {
  &.promo .container,
  .promo__slogan,
  .svg__lines,
  .promo__description-wrapper,
  .promo__advantages {
    opacity: 1;
    visibility: visible;
  }
  &.promo .container {
    @media screen and (min-width: 1473px) {
      transform: scale(1);
    }
    @media screen and (max-width: 1473px) {
      transform: translateY(0px);
    }
  }
}