
.blog-post {
  &__card {
    display: block;
    border: none;
    background-color: #f7f8fb;
    padding: 33px 44px;

    &_modifier {
      margin-top: 0;
      background-color: #FFFFFF;
    }
    @media screen and (max-width: 992px) {
      padding: 31px 16px 41px;
    }
  }
  &__tag {
    color: $primary-btn-color;
    font-weight: 500;
    margin-bottom: 11px;
    @media screen and (max-width: 560px) {
      margin-bottom: 1px;
    }
  }
  &__info {
    display: inline-grid;
    grid-template-columns: auto 1fr;

  }
  &__date {
    margin-right: 27px;
    color: #86a3c0;
    font-weight: 400;

    @media screen and (max-width: 560px) {
      grid-column: 1 / 3;
      order: 3;
      margin-bottom: 25px;
    }
  }
  &__time-to-read {
    display: flex;
    align-items: center;
    color: #86a3c0;
    font-weight: 400;

    @media screen and (max-width: 560px) {
      grid-column: 1 / 3;
    }
    &::before {
      content: "";
      width: 14px;
      height: 14px;
      margin-right: 8px;
      background: url("../img/post-time-icon.svg") center no-repeat;
    }
  }
  &__title {
    margin: 12px 0 17px;
    font-size: 1.25rem;
    font-weight: 700;
    grid-column: 1 / 3;
    @media screen and (max-width: 560px) {
      margin: 8px 0 10px;
    }
  }
  &__excerpt {
    margin-top: 14px;
    color: #5c6670;
    font-size: 1.25rem;
    font-weight: 400;
    @media screen and (max-width: 560px) {
      font-size: 1rem;
    }
  }
}

.test-blur {
  width: 100px;
  height: 100px;
  filter: blur(40px);
  background-color: #CFD9E3;
}
.blog-posts__slide.swiper-slide {
  border-radius: 20px;
}