
.blog-post {
  &__card {
    display: block;
    border: none;
    background-color: #f7f8fb;
    padding: 33px 44px;
    @media screen and (max-width: 992px) {
      padding: 31px 16px 41px;
    }
  }
  &__tag {
    color: $primary-btn-color;
    font-weight: 500;
    margin-bottom: 11px;
  }
  &__info {
    display: flex;
    color: #86a3c0;
  }
  &__date {
    margin-right: 27px;
  }
  &__time-to-read {
    display: flex;
    align-items: center;
    &::before {
      content: "";
      width: 14px;
      height: 14px;
      margin-right: 8px;
      background: url("../img/post-time-icon.svg") center no-repeat;
    }
  }
  &__title {
    margin: 12px 0 17px;
    font-weight: 700;
  }
  &__excerpt {
    margin-top: 14px;
    color: #5c6670;
    font-size: 1.25rem;
  }
}

.test-blur {
  width: 100px;
  height: 100px;
  filter: blur(40px);
  background-color: #CFD9E3;
}