.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  position: relative;
  text-decoration: none;
  color: $main-font-color;
  margin-top: 42px;
  border: 1px solid #E5F2FF;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding: 27px;
  transition: all 0.4s;
  &::before {
    content: "";
    opacity: 0;
    position: absolute;
    z-index: -1;
    width: 60%;
    height: 51%;
    top: 40%;
    left: 20%;
    filter: blur(40px);
    background-color: $card-shadow-bg-color;
    transition: all 0.5s ease;
  }
  &:hover::before {
    opacity: 1;
  }

  &__img-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    overflow: hidden;
    picture {
      width: 100%;
    }
    img {
      width: 100%;
      height: auto;
      transition: all 0.4s;
      display: block;
    }
  }

  &__title {
    font-size: 1.5rem;
    margin: 39px 0;
    font-weight: 600;
  }
}

.card_4 {
  width: 23%;
  @media screen and (max-width: 1209px) {
    width: 31.4%;
  }
  @media screen and (max-width: 870px) {
    width: 47.8%;
  }
  @media screen and (max-width: 560px) {
    width: 100%;
  }

  &:not(:nth-child(4n)) {
    margin-right: 2.65%;
    @media screen and (max-width: 1209px) {
      margin-right: 0;
    }
  }

  &:not(:nth-child(3n)) {
    @media screen and (max-width: 1209px) {
      margin-right: 2.89%;
    }
    @media screen and (max-width: 870px) {
      margin-right: 0;
    }
  }

  &:not(:nth-child(2n)) {
    @media screen and (max-width: 870px) {
      margin-right: 4.3%;
    }
    @media screen and (max-width: 560px) {
      margin-right: 0;
    }
  }
}

.card_3 {
  width: 31.4%;

  @media screen and (max-width: 870px) {
    width: 47.8%;
  }
  @media screen and (max-width: 560px) {
    width: 100%;
  }

  &:not(:nth-child(3n)) {
    margin-right: 2.89%;
    @media screen and (max-width: 870px) {
      margin-right: 0;
    }
  }

  &:not(:nth-child(2n)) {
    @media screen and (max-width: 870px) {
      margin-right: 4.3%;
    }
    @media screen and (max-width: 560px) {
      margin-right: 0;
    }
  }
}

.card_2 {
  width: 47.7%;
  @media screen and (max-width: 560px) {
    width: 100%;
  }

  &:not(:nth-child(2n)) {
    margin-right: 24px;
    @media screen and (max-width: 560px) {
      margin-right: 0;
    }
  }
}