.pagination {
  &__wrapper {
    display: flex;
    margin-top: 66px;
    justify-content: center;
    @media screen and (max-width: 560px) {
      margin-top: 42px;
    }
  }
  &__prev, &__next, &__item {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $pagination-font-color;
    transition: all 0.4s;
    &:hover, &_active {
      cursor: pointer;
    }
  }
  &__prev, &__next{
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.465em;
    font-size: 12px;
    @media screen and (max-width: 560px) {
      font-size: 10px;
    }
    &:hover, &_active {
      opacity: 0.8;
    }
    &_disabled {
      color: $pagination-disabled-font-color;
      &:hover {
        opacity: 1;
        cursor: default;
      }
    }
  }
  &__prev {
    margin-right: 25px;
  }
  &__next {
    margin-left: 25px;
  }
  &__item {
    width: 31px;
    height: 31px;
    border-radius: 50%;
    transition: all 0.4s;
    font-size: 12px;
    @media screen and (max-width: 560px) {
      font-size: 11px;
    }
    &:hover, &_active {
      cursor: pointer;
      color: $pagination-hover-font-color;
      background-color: $pagination-bg-color;
    }
  }
  &__item:not(:last-child) {
    margin-right: 5px;
  }

}