.swiper-scrollbar{border-radius:10px;position:relative;-ms-touch-action:none;background:#F7F8FB;}
.swiper-container-horizontal>.swiper-scrollbar {
  position:absolute;left:1%;bottom:3px;z-index:50;height:5px;width:82%;
  @media screen and (max-width: 560px) {
    bottom: 24px;
  }
}
.swiper-container-vertical>.swiper-scrollbar{position:absolute;right:3px;top:1%;z-index:50;width:5px;height:98%}
.swiper-scrollbar-drag{height:100%;width:100%;position:relative;background:$primary-btn-color;border-radius:10px;left:0;top:0;cursor:grab;}
.swiper-scrollbar-cursor-drag{cursor:move}
.swiper-scrollbar-lock{display:none}