//=====================================================================================================================
.tab__item {
  display: none;
  &.active {
    display: block;
  }
}
//=====================================================================================================================
._tabs {
}
._tabs-item {
  position: relative;
}
._tabs-block {
  display: none;
  &._active {
    display: block;
  }
}
//=====================================================================================================================
